@charset "utf-8";
/* CSS Document */

/*common*/

body {
background-color:#eee;
}

	


/*Home*/

.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search {
    display: inline-block;
    width: 100%;
}

.ui-field-contain .ui-btn.ui-submit {
    -moz-box-sizing: border-box;
    display: inline-block;
    margin: 15px 0;
    width: 60%;
}

.home {

	margin: 0px
}

.home .ui-corner-all {
	margin:15px 0;
}

/*Process*/
.process h3 {
color:#859CE6;
}	
.process h3 span {
	color:#000;
}	

.process h4  {
	margin:0;
	padding:0;
	color:#0077CC;
}	

	
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
